<div layout="row" >
    <div flex="50" flex-offset="25" class="md-whiteframe-1dp">
        <md-subheader>选择调查部门</md-subheader>
        <md-divider></md-divider>
        <md-content layout="column">
            <table  class="table table-striped b-t b-light">
                <tbody>
                <tr ng-repeat="item in actdepts">
                    <td>
                        {{item.deptname}}
                    </td>
                    <td>
                        <a href="javascript:" ng-click="selectQuestionTpl(item)">选择</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </md-content>
    </div>
</div>
