<section id="section" layout="column" laytout-margin  class="md-whiteframe-2dp" ng-init="initList()">
    <md-divider></md-divider>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h3>模板管理</h3>
            <span flex></span>
            <md-button class="md-raised md-hue-2" ng-click="add()"><i class="fa fa-plus"></i>增加模板</md-button>
        </div>
    </md-toolbar>
    <md-divider></md-divider>
    <md-content>
        <div class="table-responsive">
            <table  class="table table-striped b-t b-light">
                <thead>
                    <tr>
                        <th>模板名称</th>
                        <th>备注</th>
                        <th>创建日期</th>
                        <th>创建人</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in items">
                        <td>{{item.tplname}}</td>
                        <td>{{item.comment}}</td>
                        <td>{{item.createdate|mysqlDatetime}}</td>
                        <td>{{item.createid}}</td>
                        <td>
                            <a href="javascript:" ng-click="edit(item)">编辑</a>
                            <a href="javascript:" ng-click="delete(item)">删除</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </md-content>
</section>
