<!-- list -->
<ul class="nav">
  <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
    <span>工资管理</span>
  </li>
  <li ui-sref-active="active" ng-if="hasPrimission('app.gzgl.upload')">
    <a ui-sref="app.gzgl.upload" >
      <i class="fa fa-file icon text-info-dker"></i>
      <span class="font-bold">工资明细导入</span>
    </a>
  </li>
  <li ui-sref-active="active" ng-if="hasPrimission('app.gzgl.query')">
    <a ui-sref="app.gzgl.query">
      <i class="glyphicon glyphicon-question-sign icon text-info-dker"></i>
      <span class="font-bold">工资查询</span>
    </a>
  </li>

  <li class="line dk"></li>

  <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
    <span >系统管理</span>
  </li>
  <li ui-sref-active="active" ng-if="hasPrimission('app.sysaccounts.list')">
    <a ui-sref="app.sysaccounts.list">
      <i class="fa fa-user icon text-info-dker"></i>
      <span class="font-bold">用户管理</span>
    </a>
  </li>
  <li ui-sref-active="active" ng-if="hasPrimission('app.sysbranchs.list')">
    <a ui-sref="app.sysbranchs.list">
      <i class="fa  fa-bank icon text-info-dker"></i>
      <span class="font-bold">机构管理</span>
    </a>
  </li>
  <li ui-sref-active="active" ng-if="hasPrimission('app.sysmenu.list')">
    <a ui-sref="app.sysmenu.list">
      <i class="fa fa-bars icon text-info-dker"></i>
      <span class="font-bold">菜单管理</span>
    </a>
  </li>
  <li ui-sref-active="active" ng-if="hasPrimission('app.sysrole.list')">
    <a ui-sref="app.sysrole.list">
      <i class="icon-user icon text-info-dker"></i>
      <span class="font-bold">角色管理</span>
    </a>
  </li>
</ul>
<!-- / list -->